.input-container {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.output-container {
  display: flex;
  justify-content: center;
}
.color-box {
  width: 50px;
  height: 20px;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-right: 10px;
}
.output {
  margin-top: 20px;
}
